body{
    background-image: url("./images/bg-desktop.svg");
}


.mid-text{
    font-size: 18px;
    margin-top: 20px;
}

.but{
    padding: 13px 60px ;
    margin-top: 10px;
    border-radius: 20px;
    color: blueviolet;
}

.but:hover{
    background-color: rgb(237, 142, 221);
    border:none;

}
